/* Customize your main colors in :root variables */
:root {
  --main-background-color: #645f60;
  --card-background-color: #616161;
  --countdown-background-color: #433765;
  --main-text-color:#F7F6F4;
  --title-text-color:#bb9b7d;
}

body{
/*  background-color:var(--main-background-color);*/
  background: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: p22-arts-and-crafts, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2, p{
  color: var(--main-text-color);
  font-size: 2.05em;
}

h3{
font-weight: normal;
}

@media only screen and (max-width: 600px) {
  body {
    background: gray;
  }
}


